* {
    margin: 0;
    padding: 0;
}

.calculator {
    display: flex;
    background-color: darkgray;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
    height: 80vh;
    width: 30vw;
    padding: 1em;
}

.container > .button {
    flex: 1 1 25%;
    height: 16vh;
}

